
.contact{
    margin-top: 5rem;
}

.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 10%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.contact__option{
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    filter:  invert(90%) ;
    left: 0;
    top: 0;
    border: 0;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    border: 1px solid transparent;
    
}

.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon{
    font-size: 0.95rem;
    padding: 0;
    margin: 0.1rem auto 0;
}

.contact__option a{
    margin-top: 0;
    display: inline-block;
    font-size: 0.8rem;
    padding: 0;

}

.contact__option h5{
    color: var(--color-light);
    font-size: 0.8rem;
}

.contact__option h4{
    padding: 0;
    font-size: 0.8rem;
}



/* ========FORM========= */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}


/* ======SWEETALERT */


.custom-sweetalert {
    max-width: 400px; 
    
  }

  
  

/* =======================MEDIA QUERIES (MEDIUM DEVICES/TABLETS) */

@media screen and (max-width: 1024px){
    .contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .custom-sweetalert {
        max-width: 350px; /* Adjust the maximum width as needed */
      }

}


/* =======================MEDIA QUERIES (SMALL DEVICES/PHONES) */

@media screen and (max-width: 600px){
    .contact__container{
        width: var(--container-width-sm);
    }

    .custom-sweetalert {
        max-width: 300px; 
        max-height: 400px;
        font-size: small;
      }

}